.root
{
    -fx-background-color: silver;
   /* -fx-alignment:center; */
    -fx-background-radius: 25;
}
#house{
            -fx-margin:  10;
            -fx-border-color: azure;
            -fx-border-width: 4.5;
            -fx-border-radius: 12;
            -fx-font: bold 25 "Verdana";
            -fx-alignment: center;
            -fx-padding : 25;
            -fx-text-fill : aqua;
}
#house:hover{
                -fx-margin:  10;
                -fx-border-color: aqua;
                -fx-border-width: 4.5;
                -fx-border-radius: 12;
                -fx-font: bold 25 "Verdana";
                -fx-alignment: center;
                -fx-padding : 25;
                -fx-text-fill: gray;
}
#buttonBar{
    /*-fx-alignment: center;*/
    -fx-padding : 10;
    -fx-spacing: 30;
}
.image{-fx-spacing: 10;}
.button {
    -fx-padding : 10;  
    -fx-background-color : #CCFF99;
    -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);
    -fx-border-radius:20;
    -fx-font: bold 15 "Verdana";
    -fx-padding : 10;

}

/*#btnNext:hover {
    -fx-background-color: turquoise;
    -fx-text-fill: teal;
    -fx-padding : 10;
}*/
.button:hover {
    -fx-background-color: turquoise;
    -fx-text-fill: teal;
    -fx-padding : 10;
}

#cont{
    -fx-justify-content: space-between;
    -fx-padding:  5.8;
    -fx-spacing: 10;
}
#mainDisplay{
        -fx-margin:  100;
        -fx-padding-width: 20;
        -fx-effect: dropshadow(gaussian, rgba(255, 300, 0, 0.8), 10, 0, 0, 1);

}

#mainDisplay: hover {
    -fx-border-width: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 255, 0.8), 10, 0, 0, 1);
}
